---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Inicio">
    <section class="inline-grid gap-5 mt-12 sm:grid-cols-3 lg:grid-cols-3">
      <Card id="product1" href="producto" title="Nike Air MX Super 2500 - Red" body="Descripción del producto" imgSrc="/img1.jpg" price="6.990" oldPrice="10.990" />
      <Card id="product1" href="producto" title="Nike Air MX Super 2500 - Red" body="Descripción del producto" imgSrc="/img1.jpg" price="$8.990" oldPrice="$14.990" />
    </section>
</Layout>


